.container {
  margin-top: 10%;
  font-size: 2vh;
}

html {
  background-color: #f3f7ff;
}

.welcome {
  padding-top: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.loginLink {
  color: #f58634;
}

.container button {
  background-color: #00afef;
  color: white;
}

.container h1 {
  color: #00afef;
}

.error {
  text-align: center;
  color: rgb(201, 0, 0);
  margin-top: 1rem;
}
.welcome h2 {
  color: #00afef;
}
.welcome h4 {
  color: #f58634;
}
.welcome p {
  display: inline-block;
  color: #a8cf45;
}
@media screen and (min-device-width: 992px) {
  .container {
    margin-top: 4%;
  }
  .container form,
  .container h1 {
    margin-top: 5%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container h1 {
    text-align: center;
  }
  .container input {
    padding: 0.5rem;
  }
  .container input::placeholder {
    font-size: 0.65rem;
    padding-left: 0.25rem;
  }
}
