img.avatarimg {
  width: 100%;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
}

p.username {
  text-align: center;
}

.container select {
  width: 100%;
}

.avatarimg {
  margin-left: 20%;
}

.articleUrl {
  margin-top: 20%;
}

.tosinglepost {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@media screen and (min-device-width: 992px) {
  .articleSearch li {
    margin-left: 5vh;
  }
  .avatarimg {
    margin-left: 35%;
  }
}
