img.avatarimg {
  width: 100%;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
  margin-left: 18%;
}
.auxiliar {
  background-color: #a8cf45;
  border: left;
}

.auxurl {
  background-color: red;
}
.auxurl a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

h4,
time {
  color: #f58634;
}
p.username {
  text-align: center;
}

.avatarimg {
  margin-left: 20%;
}

.articleUrl {
  margin-top: 20%;
}

.tosinglepost {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

@media screen and (min-width: 992px) {
  .articleSearch li {
    margin-left: 5vh;
  }

  .articleSearch {
    margin-left: 20%;
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  img.avatarimg {
    margin-left: 33%;
  }
}
