@media (min-width: 992px) {
  .ArticlesSearch li {
    margin-left: 5vh;
  }

  .ArticlesSearch {
    margin-left: 20%;
    width: 60%;
  }
}

@media (min-width: 768px) {
  img.avatarimg {
    margin-left: 33%;
  }
}
