* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 8rem;
}
div.allHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 0.5rem;
}
