* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 8rem;
}
div.allHeader {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-top: 0.5rem;
}
div.avatarHeader {
  padding-top: 9%;
}
div.avatarHeader button {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
