@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
.container {
  margin-top: 10%;
  font-size: 2vh;
}
.container h1 {
  color: #00afef;
}

@media (min-width: 992px) {
  .container {
    margin-top: 5%;
    padding: 0rem;
    width: 70%;
  }
  .container form,
  .container h1 {
    margin-top: 5%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container input {
    padding: 0.5rem;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='file'],
  textarea {
    font-size: 16px;
  }
}
