.navigationHome > button,
.navigationSearch > button,
.navigationNew > button {
  width: 3rem;
  height: 3rem;
  background-color: #00afef;
}

.navigationHome > p,
.navigationSearch > p,
.navigationNew > p {
  display: none;
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 140px;
    margin: 0;
    bottom: 32%;
    left: 1%;
  }
  .navigationHome > p,
  .navigationSearch > p,
  .navigationNew > p {
    display: inline-block;
  }
}
