.val {
  background-color: #f58634;
}

.titleh4:hover {
  color: #00afef;
}

.auxurl {
  overflow: hidden;
  margin-right: 0px;
}
.auxurl a {
  text-align: justify;
}

.auxurl a:hover {
  color: #f58634;
}
